go 1.20

use ./chapter-1/sesi-3

use ./chapter-2/sesi-2

use ./chapter-2/challange-5

use ./chapter-2/sesi-3

use ./chapter-2/challange-6

use ./chapter-2/sesi-4

use ./chapter-2/project-2

use ./chapter-2/sesi-5

use ./chapter-3/sesi-1

use ./chapter-3/sesi-2

use ./chapter-3/sesi-3

use ./chapter-3/challange-2

use ./chapter-3/challange-3
